<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Lägg till kurs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>

<body>

<form th:action="@{/ladok_courses/submit/coursegrade/{courseCode}/{id}(
                                 courseCode=${course.courseCode},
                                 id=${grade.id}
                                 )}"
      th:object="${formCommand}" method="post">

    <p>Kurskod: <input type="text" th:value="${courseCode}" th:field="*{courseCode}"/></p>
    <p>Betyg: <input type="text" th:value="${grade}" th:field="*{grade}" /></p>
    <p>Datum: <input type="text" th:value="${date}" th:field="*{date}" /></p>
    <p>Förnamn: <input type="text" th:value="${firstName}" th:field="*{firstName}" /></p>
    <p>Efternamn: <input type="text" th:value="${lastName}" th:field="*{lastName}" /></p>
    <button type="submit" name="submit grade">Ändra</button>
</form>

</body>
</html>